extends layout

block content
	h1 Meme Editor
	img#editor(src="http://www.menucool.com/slider/prod/image-slider-5.jpg" width="400" height="300" style="border:1px solid black")
	br
	input#filePath
	button#uploadBGBtn Change Background Image
	br
	button#uploadImageBtn Finish & Upload
