extends layout

block content
    h1 Snaps
    #snapsGridContainer
    br
    table
        tr
            td 
                a(href="" id="backBtn") Back 
            td |
            td
                a(href="" id="nextBtn") Next
