extends layout

block content
    h1 Snaps
    #snapsGridContainer
    table
        tr
            td 
                a(href="" id="backBtn") Back
            td
                a(href="" id="nextBtn") Next
