extends layout

block content
	script(src='/javascripts/jquery-2.1.0.min.js')
	h1= title
	form(name="registration", method="POST", action="/signup/submit")
	label Username: 
	input(type ="text", name="username", required)
	p
	label Email: 
	input(type ="text", name="email", required)
	p
	label Password: 
	input(type="password", name="password", required)
	p
	label Confirm Password: 
	input(type="password", name="confirmpassword", required)
	p
	input(type="submit", value="Register")
