body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error {
	color: red;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}
input {
  display: inline-block;
}

.snapsItem { 
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  /*background: #F59A59;*/
}

.snapsItem:after {
  content: '';
  display: block;
  clear: both;
}

.snapsItem img{
    width: 100px;
    height: 100px;
}
